.keyword-tags-kit {
    display: flex;
    padding: 0;
    border: 0 solid darkgrey;
    font-size: 1.5rem;
}

.keyword-tags {
    display: flex;
}

button.keyword-tag {
    display: flex;
    align-items: center;
    padding: .1rem;
    background-color: skyblue;
    border: 1px solid greenyellow;
    border-radius: .3rem;
    box-shadow: 0 .2rem .1rem rgba(0, 0, 0, 0.1);
    outline: none;
    margin-right: 0.8rem;
    cursor: pointer;
}

.keyword {
    padding-left: 0.2rem;
}

.delete-icon {
    width: 1rem;
    height: 1rem;
    margin-left: .1rem;
    background: url("/static/imgs/x.svg") center center no-repeat;
    background-size: 100% 100%;
}

.keyword-input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    flex-grow: 1;
}
