<!DOCTYPE html>
<html>

  <head>
    <title>all articles</title>

    <link rel="icon" href="/static/favicon.svg">
    <link rel="shortcut icon" href="/static/favicon.png">
  </head>

  <body>
    <h1>all articles</h1>
    <ul>
      {{#each articlesList as |article|}}
        <li><b>{{article.subject}}</b></li>
        <ul>
          <li>{{article.id}}</li>
          <li>{{article.username}}</li>
          <li><a href="{{article.uri}}" target="_blank">{{article.slug}}</a></li>
        </ul>
      {{/each}}
    </ul>

  </body>

</html>
