<!doctype html>
<html lang="en">

    <head>
        <title>发布文章 - {{ value-check user.blogName "芽之家" }} - 芽之家 - budshome.com</title>
        <meta name="description" content="发布文章 - 芽之家，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
        {{> head }}
        <link href="/static/css/blog.css" rel="stylesheet">
        <link href="/static/css/sidebar.css" rel="stylesheet">

        <link href="/static/css/stacks.min.css" rel="stylesheet">
        <link href="/static/css/stacks-editor.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-xxl">
            {{> header }}
            {{> nav }}
        </div>

        <div class="container-fluid">
            <div class="row">
                {{> sidebar }}

                <main class="col-md-9 ms-sm-auto col-xxl-10 px-md-4">
                    <h3 class="mb-3">New Article</h3>

                    <form method="post">

                        <textarea id="content" name="content" class="d-none">
# 一级标题
支持 **Markdown** 语法
                        </textarea>
                        <div id="content-div" class="js-tables-enabled"></div>
                        <button onclick="document.querySelector('#content').value = editor.content;" type="submit"
                            class="w-100 btn btn-lg btn-primary">Publish</button>
                    </form>

                </main>
            </div>
        </div>

        <script src="/static/js/highlight.min.js"></script>
        <script src="/static/js/stacks-editor.bundle.js"></script>
        <script>
            let editor = new window.stacksEditor.StacksEditor(
                document.querySelector("#content-div"),
                document.querySelector("#content").value,
                {
                    parserFeatures: {
                        tables: true,
                    },
                }
            );
        </script>
    </body>

</html>
