<!doctype html>
<html lang="en">

    <head>
        <title>发布文章 - {{ value-check user.blogName "芽之家" }} - 芽之家 - budshome.com</title>
        <meta name="description" content="发布文章 - 芽之家，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
        {{> head }}
        <link href="/static/css/blog.css" rel="stylesheet">
        <link href="/static/css/sidebar.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/editor/stacks.min.css">
        <link href="/static/editor/app.css" rel="stylesheet">

        <script src="/static/editor/stacks.min.js" defer="defer"></script>
        <script src="/static/editor/app.bundle.js" defer="defer"></script>
    </head>

    <body>
        <div class="container-xxl">
            {{> header }}
            {{> nav }}
        </div>

        <div class="container-fluid">
            <div class="row">
                {{> sidebar }}

                <main class="col-md-9 ms-sm-auto col-xxl-10 px-md-4">
                    <h3 class="mb-3">New Article</h3>

                    <form method="post">
                        <div class="grid--cell s-toggle-switch">
                            <input id="js-toggle-dark" type="checkbox" />
                            <div class="s-toggle-switch--indicator"></div>
                            <label for="js-toggle-dark" class="grid--cell ml4">Dark mode</label>
                        </div>
                        <div id="content-div" class="js-tables-enabled"></div>
                        <textarea id="content" name="content" class="d-none">
                        ``` html
                            <div>
                                <strong>foo</strong>
                            </div>
                        ```
                        </textarea>

                    </form>

                </main>
            </div>
        </div>

    </body>

</html>
