<!DOCTYPE html>
<html>

  <head>
    <title>发布文章 - {{ value-check user.blogName "芽之家" }} - 芽之家 - budshome.com</title>
    <meta name="description" content="发布文章 - 芽之家，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
    {{> head }}
    <link rel="stylesheet" href="/static/editor/stacks.min.css">
    <link href="/static/editor/app.css" rel="stylesheet">

    <script src="/static/editor/stacks.min.js" defer="defer"></script>
    <script src="/static/editor/app.bundle.js" defer="defer"></script>
  </head>

  <body>
    <div class="grid--cell s-toggle-switch">
      <input id="js-toggle-dark" type="checkbox" />
      <div class="s-toggle-switch--indicator"></div>
      <label for="js-toggle-dark" class="grid--cell ml4">Dark mode</label>
    </div>

    <form class="wmx6 m-auto">

      <div id="content-div" class="js-tables-enabled"></div>
      <textarea id="content" name="content" class="d-none">
        ``` html
            <div>
                <strong>foo</strong>
              </div>
        ```
      </textarea>

    </form>

  </body>

</html>
