ADDR=127.0.0.1
PORT=8000

SITE_KEY=NALnvA++OlmRAiO2h..... # Replace with your SITE_KEY
CLAIM_EXP=10000000000

GQL_URI=gql
GQL_VER=v1
GIQL_VER=v1i

MONGODB_URI=mongodb://surfer:surfer@127.0.0.1:27017
MONGODB_NAME=ruonou_blog
