{{! These can be removed }}
<script type="text/javascript" src="//static.budshome.com/js/bdubottom.js"></script>

<footer class="blog-footer">
    {{! Please customize your footer }}
    <p>Powered by <a href="https://github.com/zzy/yazhijia" target="_blank">https://github.com/zzy/yazhijia</a></p>
    <p>
        ~ 版权所有（linshi@budshome.com）~<br>
        芽之家 - budshome.com ~ 蜀ICP备17001556号-1
    </p>
    <p><a href="#">Back to top</a></p>
</footer>

{{! These can be removed }}
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="//static.budshome.com/js/canvas-nest.js" color="25,25,112" pointColor="255,0,0" opacity="0.7"
    count="77"></script>
<script type="text/javascript" src="//static.budshome.com/js/bdtj-bh.js"></script>
<script type="text/javascript" src="//static.budshome.com/js/bdts.js"></script>
