<head>
    <title>{{ value-check user.blogName "yazhijia" }} - budshome.com</title>

    <link rel="icon" href="/static/favicon.svg">
    <link rel="shortcut icon" href="/static/favicon.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="芽之家，纯粹 Rust 技术栈开发的博客。yazhijia, the Blog built on pure Rust stack. {{#if user.introduction }}{{ user.introduction }}{{/if}}{{#if article.summary }}{{ article.summary }}{{/if}}">
    <meta name="author" content="zzy, https://github.com/zzy/yazhijia">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">
</head>
