<footer class="blog-footer">
    {{! Please customize your footer }}
    <p>Powered by <a href="https://github.com/zzy/surfer" target="_blank">zzy/surfer</a></p>
    <p>
        ~ 版权所有（<a href="mailto:ask@ruonou.com">ask@ruonou.com</a>）~<br>
        ~ <a href="//ruonou.com" target="_blank">若耨 - ruonou.com</a> ~
    </p>
    <p><a href="#">Back to top</a></p>
</footer>

<script src="/static/js/bootstrap.bundle.min.js" defer="defer"></script>
<script src="/static/js/jquery-3.6.0.min.js" defer="defer"></script>

{{! google }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2498669832870483"
    crossorigin="anonymous"></script>

{{! baidu }}
<script type="text/javascript" src="//static.ruonou.com/js/bdtj-bh.js" defer="defer"></script>
<script type="text/javascript" src="//static.ruonou.com/js/bdts.js" defer="defer"></script>
