<header class="blog-header py-3">

    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark fixed-top" aria-label="user navigation">
        <div class="container-xxl">

            <a class="navbar-brand" href="/">
                <img width="77" height="35" src="/static/logo.png" alt="homepage" title="homepage"
                    aria-label="homepage">
            </a>

            <a class="navbar-brand blog-header-logo"
                href='{{ value-check user.website "https://github.com/zzy/surfer" }}' target="_blank">
                {{ value-check user.blogName "若耨" }}
                <svg width="28" height="28" viewBox="0 0 18 18" fill="currentColor">
                    <path d="{{ website-svg user.website }}" />
                </svg>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sign-info"
                aria-controls="sign-info" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="sign-info">

                <ul class="navbar-nav me-auto my-2">
                    <li class="nav-item">
                        <form action="/title-search" method="post" target="_blank" class="input-group input-group-sm">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <span class="input-group-text">/</span>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/excellent-articles" aria-label="excellent articles">
                            Excellent-articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/explore" aria-label="explore">
                            Explore
                        </a>
                    </li>
                </ul>

                {{#if user }}
                    <li class="nav-item dropdown no-marker">
                        <span class="nav-link dropdown-toggle btn btn-sm btn-outline-warning" id="dropdown-user"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.nickname }}
                            <img src="{{ user.picture }}" width="34" height="34" class="rounded"
                                alt="{{ user.nickname }}">
                        </span>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-user">
                            <li>
                                <a class="dropdown-item mt-2" href="/{{ user.username }}/dashboard" target="_blank">
                                    Your dashboard
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item mt-2" href="/{{ user.username }}" target="_blank">
                                    {{ user.blogName }}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item mt-2" href="#">Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item mt-2" href="/sign-out">Sign out</a>
                            </li>
                        </ul>
                    </li>
                    {{ else }}
                    <li class="nav-item no-marker">
                        <a class="nav-link btn btn-sm btn-outline-primary m-2" href="/sign-in">Sign in</a>
                    </li>
                    <li class="nav-item no-marker">
                        <a class="nav-link btn btn-sm btn-outline-info m-2" href="/register">Register</a>
                    </li>
                {{/if}}

            </div>

        </div>
    </nav>

</header>
