<nav id="dashboard-sidebar" class="col-md-3 col-xxl-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-2">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Articles</span>
            <span>10</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    Article Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/articles/new">
                    New Article
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Statistics</span>
            <span>10</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                    Categeries
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Articles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Topics
                </a>
            </li>
        </ul>

    </div>
</nav>
