<!doctype html>
<html lang="zh">

  <head>
    <title>博客用户签入 - 若耨 - ruonou.com</title>
    <meta name="description" content="博客用户签入 - 若耨，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
    {{> head }}
    <link href="/static/css/sign.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <main class="form-sign">
      <a href="/">
        <img class="mb-4" src="/static/logo.png" alt="homepage" title="homepage" aria-label="homepage">
      </a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {{#if sign_in_failed }}
        <p class="p-2 mb-2 bg-warning text-dark fs-6">{{ sign_in_failed }}</p>
      {{/if }}

      <form method="post">
        <div class="form-floating mb-2">
          <input type="text|email" name="signature" id="signature" class="form-control"
            placeholder="username or email address" aria-label="username or email address" required>
          <label for="signature">Username or email address</label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" name="password" id="password" class="form-control" placeholder="password"
            aria-label="password" required>
          <label for="password">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me">
            Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-3 mb-3 text-muted">
          New to BudsHome?
          <a href="/register">Create an account.</a>
        </p>
      </form>

      {{> footer }}
    </main>

  </body>

</html>
