<!doctype html>
<html lang="zh">

  <head>
    <title>{{ article.subject }} - {{ value-check user.blogName "云上于天" }} - 若耨 - ruonou.com</title>
    <meta name="description"
      content="{{ article.summary }} - 若耨，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
    {{> head }}
    <link href="/static/css/night-owl.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-xxl">
      {{> header }}
      {{> nav }}
    </div>

    <main class="container-xxl">

      <div class="row">
        <div class="col-md-8">
          <h6>{{ wish.user.nickname }}
            (blog: <a href="/{{wish.user.username}}" target="_blank">{{ wish.user.blogName }}</a>)
            shared the aphorism --
          </h6>
          <h5 class="pb-4 mb-4 font-italic border-bottom text-primary">
            {{ wish.aphorism }} -- {{ wish.author }}
          </h5>

          <article class="blog-post">
            <h2 class="blog-post-title">
              [<a href="{{ article.category.uri }}" target="_blank">{{ article.category.name }}</a>]
              {{ article.subject }}
            </h2>
            <p class="blog-post-meta">{{ article.updatedAt }} by -
              <strong>{{ article.user.nickname }}</strong>
              [blog: <a href="/{{ article.user.username }}" target="_blank">{{ article.user.blogName }}</a>]
            </p>
            <p>💥 <strong class="text-danger">内容涉及著作权，均归属作者本人</strong>。若非作者注明，默认欢迎转载：请注明出处，及相关链接。</p>
            <p class="p-2 border border-info bg-light">
              <strong>Summary: </strong>{{ article.summary }}
            </p>
            <p><strong>Topics: </strong>
              {{#each article.topics as |topic| }}
                <span class="badge bg-primary text-wrap">
                  <a class="text-white text-decoration-none" href="{{ topic.uri }}" target="_blank">
                    {{ topic.name }}
                  </a>
                </span>
              {{/each }}
            </p>
            <p>{{{ article.contentHtml }}}</p>
            {{! These can be removed }}
            <img src="/static/imgs/rust-shijian.png" alt="Rust 生态与实践">
          </article>

        </div>

        <div class="col-md-4">
          <div class="p-4">
            <h4 class="font-italic">Related Articles</h4>
            <ol class="list-unstyled">
              {{#each articles as |article|}}
                <li>
                  [<a href="{{ article.category.uri}}" target="_blank">{{ article.category.name }}</a>]
                  <a href="{{ article.uri}}" target="_blank">{{ article.subject }}</a>
                </li>
              {{/each }}
            </ol>
          </div>

          {{> topic }}
          {{> elsewhere }}
        </div>

      </div>
    </main>

    <script src="/static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    {{> footer }}
  </body>

</html>
