<!doctype html>
<html lang="en">

    <head>
        <title>发布文章 - {{ value-check user.blogName "若耨" }} - 若耨 - ruonou.com</title>
        <meta name="description" content="发布文章 - 若耨，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
        {{> head }}
        <link href="/static/css/sidebar.css" rel="stylesheet">

        <link href="/static/css/stacks.min.css" rel="stylesheet">
        <link href="/static/css/stacks-editor.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-xxl">
            {{> header }}
            {{> nav }}
        </div>

        <div class="container-fluid">
            <div class="row">
                {{> sidebar }}

                <main class="col-md-9 ms-sm-auto col-xxl-10 px-md-4">
                    <h3 class="mb-3">New Article</h3>

                    <form method="post">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <div class="form-floating mb-2">
                            <input type="text" name="subject" id="subject" class="form-control" placeholder="subject"
                                aria-label="subject" required>
                            <label for="subject">Article subject</label>
                        </div>
                        <div class="form-floating mb-2">
                            <select name="category_id" id="category_id" class="form-select form-control"
                                placeholder="category_id" aria-label="category_id" required>
                                <option value="">Article category</option>
                                {{#each categories as |category|}}
                                    <option value="{{ category.id }}">{{ category.name }}：{{ category.description }}
                                    </option>
                                {{/each}}
                            </select>
                            <label for="category_id">Article category</label>
                        </div>
                        <div class="form-floating mb-2">
                            <textarea name="summary" id="summary" class="form-control" style="height: 100px"
                                placeholder="summary" aria-label="summary" required></textarea>
                            <label for="summary">Article summary</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="hidden" name="topic_names" id="topic_names">
                            <keyword-tags tag-values="" class="form-control" placeholder="topics" aria-label="topics">
                            </keyword-tags>
                            <template id="keyword-tags-template">
                                <link href="/static/css/kw-t.css" rel="stylesheet">
                                <div class="keyword-tags-kit">
                                    <div class="keyword-tags"></div>
                                    <input type="text" class="keyword-input">
                                </div>
                            </template>
                            <template id="keyword-tag-template">
                                <button type="button" class="keyword-tag">
                                    <span class="keyword">中国</span>
                                    <span class="delete-icon"></span>
                                </button>
                            </template>
                            <label for="tag-values">
                                Article topics
                                (separate with <strong class="text-primary">space / Enter / comma</strong>)
                            </label>
                        </div>
                        <div class="form-floating mb-2">
                            <textarea id="content" name="content" class="d-none form-control" placeholder="content"
                                aria-label="content" required>
# 一级标题
支持 **Markdown** 语法
                        </textarea>
                            <label for="content">Article content</label>
                            <div id="content-div" class="js-tables-enabled"></div>
                        </div>
                        <button onclick="setContent()" type="submit"
                            class="w-100 btn btn-lg btn-primary mt-3">Publish</button>
                    </form>

                </main>
            </div>
        </div>

        <script src="/static/js/kw-t.js"></script>
        <script src="/static/js/highlight.min.js"></script>
        <script src="/static/js/stacks-editor.bundle.js"></script>
        <script>
            let editor = new window.stacksEditor.StacksEditor(
                document.getElementById("content-div"),
                document.getElementById("content").value,
                {
                    parserFeatures: {
                        tables: true,
                    },
                }
            );

            function setContent() {
                document.getElementById("content").value = editor.content;
            }
        </script>

        {{> footer }}
    </body>

</html>
