<footer class="blog-footer">
    <div style="width: 100%; padding-bottom: 30px; text-align: center;">
        ~ 版权所有（linshi@budshome.com）~ <br />
        芽之家 - budshome.com ~ 蜀ICP备17001556号-1
    </div>

    <script type="text/javascript" color="25,25,112" pointColor="255,0,0" opacity="0.7" count="77"
        src="//static.budshome.com/js/canvas-nest.js"></script>
    <script type="text/javascript" src="//static.budshome.com/js/bdtj-bh.js"></script>
    <script type="text/javascript" src="//static.budshome.com/js/bdts.js"></script>
</footer>
