<!doctype html>
<html lang="zh">

  <head>
    <title>Sign in - 芽之家 - budshome.com</title>
    <meta charset="utf-8">

    <link rel="icon" href="/static/favicon.svg">
    <link rel="shortcut icon" href="/static/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="芽之家，纯粹 Rust 技术栈开发的博客。budshome, the Blog built on pure Rust stack.">
    <meta name="author" content="zzy, https://github.com/zzy/surfer">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/sign.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <main class="form-sign">
      <a href="/">
        <img class="mb-4" src="/static/logo.png" alt="homepage" title="homepage" aria-label="homepage">
      </a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {{#if sign_in_failed }}
        <p class="p-2 mb-2 bg-warning text-dark fs-6">{{ sign_in_failed }}</p>
      {{/if }}
      <form method="post">
        <div class="input-group mb-2">
          <span class="input-group-text">Signature:</span>
          <input type="text" name="signature" class="form-control" placeholder="Username or email address"
            aria-label="Username or email address" required autofocus>
        </div>
        <div class="input-group mb-2">
          <span class="input-group-text">Password:</span>
          <input type="password" name="password" class="form-control" placeholder="password" aria-label="password"
            required>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">
          New to BudsHome?
          <a href="/register">Create an account.</a>
        </p>
      </form>
    </main>

  </body>

</html>
